* {
  margin: 0;
  padding: 0;
}

body {
	height: 100vh;
	background: #c7c7c7;
}


h1 {
	padding-right: 100px;
	padding-left: 51px

}
.gameArea {
	background: #fcfcfc;
	width: 645px;
	height: 545px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 50px 1fr;
	grid-column-gap: 35px;
	grid-row-gap: 5px;
	border: 8px solid #474747;
	border-radius: 10%;
}

#button1 {
	height: 40px;
	width: 75px;
	background: red;
	font-size: 18px;
	border-radius: 10%;
	margin-right: 5px;
}
#button1:hover {
	cursor: pointer;
}
#button1:active {
	position: relative;
	top: 2px;
}
#button1:focus {outline:0;}

#button2 {
	height: 40px;
	width: 75px;
	background: #adadad;
	font-size: 18px;
	border-radius: 10%;
}
#button2:hover {
	cursor: pointer;
}
#button2:active {
	position: relative;
	top: 2px;
}
#button2:focus {outline:0;}

#scoreBox {
	height: 40px;
	width: 100px;
	background: #d1d1d1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
}


#topLeft {
	background: green;
	grid-column: 1/ span 1;
	border-radius: 18%;
	border: 6px solid #474747;
}
#topLeft:hover {
	cursor: pointer;
}
#topLeft:active {
	background: #00ff00;
}


#topRight {
	background: #C00000;
	grid-column:: 2/ span 1;
	border-radius: 18%;
	border: 6px solid #474747;
}
#topRight:hover {
	cursor: pointer;
}
#topRight:active {
	background: #FF0000;
}


#middle {
	grid-column: 1/span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}


#bottomLeft {
	background: #C8C500;
	grid-row: 3/ span 1;
	border-radius: 18%;
	border: 6px solid #474747;	
}
#bottomLeft:hover {
	cursor: pointer;
}
#bottomLeft:active {
	background: yellow;
}


#bottomRight {
	background: #00A8BB;
	grid-row: 3/ span 1;
	border-radius: 18%;
	border: 6px solid #474747;	
}
#bottomRight:hover {
	cursor: pointer;
}
#bottomRight:active {
	background: #00E5FF;
}


#topLeft.blink {
    background: #00ff00;
}

#bottomLeft.blink {
    background: yellow;
}

#bottomRight.blink {
    background: #00E5FF;
}

#topRight.blink {
    background: #FF0000;
}

@media screen and (max-width: 600px) {
  .gameArea {
   height:400px;
   width:400px;
  }
}

